.footer {
  @apply wrapper;
  padding:40px 0 0 0;
  @screen sm {
    padding-top: 40px;
  }

  .footer-wrapper {
    margin:32px 0;
    padding:0 40px;
    @screen md{
      padding:0 16px;
    }
    @apply flex justify-between flex-nowrap gap-4;

    &> div{
      flex-basis: 20% !important;
      @screen sm{
        flex-basis:100% !important;
      }
    }

  .region-footer{
    @apply hidden;
    width:0;
    flex-basis: 0 !important;
  }
    @screen md {
      @apply flex-wrap gap-12;

      > div {
        @apply basis-full;
      }
    }
    @screen sm{
      gap:24px;
    }
  }
.footer--copyright{
  @include caption-2;
  padding: 8px 0 !important;
  background-color: $ntrls-200;
}
  .footer--logo {
    .navbar-brand {
      .site-title {
        @include display-3;
        @screen md{
          @include header-2;
        }
      }
    }
    .site-logo {
      width: 44px;
      height: 44px;
      @screen md{
        width: 32px;
        height: 32px;
      }
    }
    img {
      @apply mr-[1rem] inline-block align-middle;
      @screen md {
        margin-right: 8px;
      }
    }
  }

  .navbar-nav {
    @apply hidden;
  }
}

.social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1.5rem;

  a {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background-image: url('/assets/images/ico-social.svg');
    text-indent: -99999px;
    font-size: 0;
    line-height: 0;
    &.ico-fb {
      background-position: 0 0;
    }
    &.ico-ig {
      background-position: -57px 0;
    }
    &.ico-tw {
      background-position: -113px 0;
    }
    &.ico-yt {
      background-position: -168px 0;
    }
    &.ico-li {
      background-position: -225px 0;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
