$header-height: 72px;
$tooolbar-height: 79px;

.path-explorer,
.path-artefact-browser,
.path-statgpt {
  padding-top: 0 !important;
  .header {
    position: initial !important;
  }
}
.toolbar-tray-open.user-logged-in {
  margin-top: $header-height;
  .header {
    top: $tooolbar-height;
  }
}
body {
  padding-top: $header-height;
}

.header {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
}

@screen mobile-menu {
  .mobile-drop-link {
    @include mask-icon('ico-menu-dark.svg');
    background-color: $primary;
  }
  .menu-opened {
    .mobile-drop-link {
      @include mask-icon('close.svg');
      background-color: $primary;
    }
    .header--search-icon {
      display: none !important;
    }
  }
  .menu-holder {
    position: absolute;
    background: $white;
    top: 72px;
    left: 0;
    right: 0;
    padding: 48px 40px 24px 40px;
    flex-direction: column;
    display: none !important;
  }
  .mobile-drop-link {
    display: block !important;
    background-color: $primary;
  }

  .menu-opened {
    .region-header {
      border: none;
      .menu--wrapper {
        .menu-holder {
          display: block !important;
        }
      }
      .block-views-exposed-filter-blocks {
        display: block;
      }
      .form-item-search-api-fulltext {
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 32px;
        background-color: white;
        left: 0;
        width: calc(100vw - 10px) !important;
        input {
          @include caption-1;
          color: $ntrls-800;
        }
      }
      .top-navs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin-top: 8px;
        .language-switcher-language-url,
        .menu--account {
          border-top: 1px solid $ntrls-600;
          width: 100% !important;
          padding: 16px 0;
        }
      }

      .form--inline .form-item {
        flex-grow: 1;
        input[type='text'] {
          width: 100% !important;
        }
      }
      .menu--wrapper {
        #block-search-in-header {
          width: 0 !important;
          height: 0 !important;
          position: initial;
          margin: 0 0 24px;
          &:hover {
            form {
              box-shadow: none;
              position: initial;
              height: 0;
              width: 0;
              padding: 0;
            }
          }
          form {
            display: block !important;
            input {
              width: 100% !important;
              margin: 0 40px;
            }
          }
        }
        .top-navs {
          justify-content: space-between;
          @include header-2;
        }
        .navbar-nav {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 24px;

          li {
            padding: 0;
          }

          .dropdown-menu {
            position: initial;
            left: 0;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            @include paragraph-4;
            height: auto;
            max-height: 0;
            &.show {
              max-height: 1000px;
              transition: max-height 0.5s linear;
            }
            li {
              border: none;
            }
            a {
              margin: 0;
              padding: 8px 0;
            }
          }
        }
      }
    }
  }
}
.region-header {
  @apply wrapper;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  position: relative;
  .block-system-branding-block {
    margin-right: 80px;
    @screen 2xl {
      margin-right: 32px;
    }
  }
  border-bottom: 1px solid $ntrls-600;
}
.menu-opened {
  .menu__search {
    .form-item-search-api-fulltext {
      top: 0 !important;
      height: 32px !important;
    }
  }
}
.menu__search {
  @screen mobile-menu {
    .block-views-exposed-filter-blocks {
      display: block;
    }
  }
  @screen 2xl {
    .form--inline {
      height: 0;
    }
    .header--search-icon {
      @apply cursor-pointer;
      @include mask-icon('search.svg');
      background-color: $primary;
      height: 24px;
      width: 24px;
    }
    .block-views-exposed-filter-blocks {
      display: none;
    }
    &.show {
      .block-views-exposed-filter-blocks {
        display: block;
      }
      .form-item-search-api-fulltext {
        top: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 72px;
        left: 0;
        background-color: $white;
        width: calc(100vw - 10px) !important;
        input {
          @include caption-1;
          color: $ntrls-800;
        }
      }
    }
  }
  #block-search-in-header {
    margin: 0 !important;
    #edit-search-api-fulltext {
      width: 400px;
      @screen mobile-menu {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 11px;

  .site-logo {
    width: 24px;
    height: 24px;
  }
  .site-title {
    @include header-4;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
    @screen mobile-menu {
      @include header-2;
    }
  }
}

/* top navigation */

.menu-holder,
.top-navs {
  display: flex;
  flex-direction: row;
  align-items: center;
  #edit-submit-search {
    @apply hidden;
  }
}
.menu--main {
  margin-left: auto;
}
.menu--wrapper {
  flex: 1;
  .nav-link {
    border-bottom: 2px solid transparent;
    &.is-active {
      padding-bottom: 0;
      border-color: $prpl-1000;
      color: $prpl-1000;
    }
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include header-4;
    gap: 2rem;

    @screen lg {
      gap: 1rem;
    }
    @screen mobile-menu {
      gap: 0;
    }

    li {
      padding: 0.5rem 0.25rem;
      white-space: nowrap;
    }

    a {
      &:hover {
        color: $prpl-1000;
        text-decoration: none;
      }
    }

    .dropdown {
      position: relative;
      color: $primary;
      & > a {
        display: flex;
        align-items: center;
        @screen mobile-menu {
          width: fit-content;
        }
        &:after {
          background-color: $primary;
          @include mask-icon('triangle-arrow-down.svg', 16px);
        }
      }

      &.show {
        & > a {
          &:after {
            @include mask-icon('triangle-arrow-up.svg', 16px);
          }
        }
        .dropdown-menu {
          left: -24px;
        }
      }
    }

    .dropdown-menu {
      min-width: 182px;
      position: absolute;
      top: 63px;
      left: -20000px;
      z-index: 5;
      background: $white;
      box-shadow: 0 4px 15px $shadow75;
      border-radius: 8px;
      padding: 8px 0;
      overflow: hidden;

      li {
        border-top: 1px solid $ntrls-400;
        padding: 0;
        &:first-child {
          border: 0;
        }
      }
      a {
        display: block;
        padding: 14px 24px;
        white-space: nowrap;
        &:hover {
          text-decoration: none;
          background: $prpl-100;
        }
      }
    }
  }
}
.menu--account {
  .nav-item {
    a {
      @apply flex items-center;
      @include base-button;
      @include primary-filled-button;
      @include header-4;
      border-radius: 4px !important;
      &:hover {
        border-color: $prpl-600 !important;
        background-color: $prpl-600 !important;
      }
    }
  }
}
.mobile-drop-link {
  @include mask-icon('ico-menu-dark.svg');
  -webkit-mask-position: 50% 50%;
  width: 52px;
  height: 52px;
  cursor: pointer;
  text-indent: -99999px;
  margin-left: auto;
  display: none;
}

.menu-holder {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  @screen mobile-menu {
    border-bottom: $ntrls-600;
  }
}

.path-frontpage {
  .header--search-icon {
    display: none !important;
  }
  @screen mobile-menu {
    &.menu-opened {
      .header,
      .header:not(.scrolled) {
        background: white !important;
        .mobile-drop-link {
          background-color: $primary !important;
        }
        .nav-item,
        .nav-link,
        .site-title {
          color: $primary !important;
          &.is-active {
            border-color: $primary !important;
          }
        }
        .menu--account .nav-item a {
          background-color: $primary !important;
          color: $white !important;
        }
        .navbar-nav {
          .dropdown {
            & > a {
              &:hover {
                color: $prpl-1000 !important;
              }
              &:after {
                background-color: $primary;
              }
            }
          }
        }
      }
    }
    .header.scrolled {
      background: white;
      .mobile-drop-link {
        background-color: $primary !important;
      }
    }
    .menu-holder {
      padding-top: 0;
      background: $white !important;
    }
  }

  .header.scrolled {
    border-color: $ntrls-600;

    .region-header {
      border-color: $ntrls-600;

      .nav-item,
      .nav-link,
      .site-title {
        color: $primary !important;
      }
      .menu--account {
        .nav-item {
          a {
            color: $white !important;
            background-color: $primary !important;
            &:hover {
              background-color: $prpl-600 !important;
            }
          }
        }
      }
      .menu-holder {
        background: transparent;
      }
    }

    .nav-link.is-active {
      border-color: $primary !important;
    }

    .navbar-nav {
      .dropdown {
        color: $primary !important;
        & > a {
          &:after {
            background-color: $primary !important;
          }
        }
      }
    }
  }
  .header {
    .header--search-icon {
      @apply hidden;
    }
  }
  .header {
    &:not(.scrolled) {
      background: linear-gradient(83deg, #062759 0%, #3d419b 100%);
      .region-header {
        border-color: transparent;
        .nav-item {
          a {
            &:hover {
              color: $prpl-100 !important;
            }
          }
          .dropdown-menu {
            a {
              &:hover {
                color: $prpl-1000 !important;
              }
            }
          }
        }
        .nav-item,
        .nav-link,
        .site-title {
          color: $white;
        }
        .menu--account {
          .nav-item {
            a {
              @include secondary-button;
              @apply flex items-center;
              @include header-4;
              color: $primary !important;
              background-color: $white !important;
              &:hover {
                background-color: $prpl-100 !important;
              }
            }
          }
        }
        .menu-holder {
          background: transparent;
          @screen mobile-menu {
            background: $white;
          }
        }
      }
      .menu--account .nav-item a {
        background-color: $white;
        color: $primary;
      }

      .nav-link.is-active {
        border-color: $white;
      }

      .navbar-nav {
        .dropdown {
          color: $white;
          & > a {
            &:after {
              background-color: $white;
            }
          }
        }
      }

      .mobile-drop-link {
        background-color: $white;
      }
    }
  }
}
