.language-switcher-language-url {
  width: 70px;
  height: 40px;
  position: relative;
  @screen mobile-menu {
    margin-left: 0;
    height: auto;
  }
  .links {
    @include header-4;
    position: absolute;
    top: 32px;
    left: -14px;
    margin: 0.5rem 1rem;
    padding: 0 24px;
    background: $white;
    // TODO: delete custom color
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 5;
    @screen mobile-menu {
      position: initial !important;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      margin: 0;
      @apply flex flex-col;
    }

    li {
      border-top: 1px solid $ntrls-400;
      padding: 1rem 0;
      display: none;
      @screen mobile-menu {
        padding: 0;
      }

      a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        color: $primary;

        &.is-active {
          color: $primary;
        }
        &:hover,
        &:hover.is-active {
          color: $prpl-1000;
          text-decoration: none;
        }
      }

      &:first-child,
      &:first-child.is-active + li:nth-child(2) {
        border: 0;
      }
    }

    li.is-active {
      height: 24px;
      position: absolute;
      top: -32px;
      left: 14px;
      border: 0;
      padding: 0;
      display: flex;
      @screen mobile-menu {
        position: initial !important;
        order: -1;
      }
      &:hover {
        &::after {
          @include mask-icon('triangle-arrow-up.svg', 16px);
        }
      }

      &::after {
        margin: 4px 0 0px 3px;
        @include mask-icon('triangle-arrow-down.svg', 16px);
        background-color: $primary;
      }
    }

    &.show {
      li:not(.is-active) {
        display: block;
        @screen mobile-menu {
          font-weight: 400;
          margin: 16px 0 8px 0;
        }
      }
    }
  }
}

.path-frontpage {
  .header {
    &:not(.scrolled) {
      .language-switcher-language-url {
        .links {
          li.is-active {
            &::after {
              background-color: $white;
              @screen mobile-menu {
                background-color: $primary;
              }
            }

            a.is-active {
              color: $white;
              @screen mobile-menu {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}
