.topics--tree {
  @apply overflow-hidden;
  @include paragraph-4;
  padding:0 40px 32px 40px;
  color: $primary;
  border-bottom: 1px solid $ntrls-600;

  @screen md{
    padding:0 16px 32px 16px;
  }
  @screen sm{
    padding:0 16px;
    border: none;
  }
  h3 {
    @include header-4 ;
    a {
      color:$ntrls-1000;
      @apply pointer-events-none;
    }
  }

  h2 {
    @apply hidden;
  }

  .view-grouping-header {
    @apply hidden;
  }

  .view-content {
    @apply flex flex-wrap justify-between;

    .view-grouping {
      min-width: 160px;
      &:last-child {
        @apply mr-0;
      }

      &-content > div {
        @apply mt-4 relative;
        @include body-1;
        a{
          color:$ntrls-1000;
        }
      }
    }
  }
  @screen sm {
    .view-content {
      display: flex !important;
      @apply flex-col;
      gap: 0 !important;
    }
    .view-grouping {
      border-bottom: 1px solid $ntrls-600;
      max-width: 100% !important;
      flex-basis: auto !important;
      .view-grouping-content {
        position: relative;
        @apply pr-5;
        padding: 12px 0;
        & > div {
          padding: 12px 0 !important;
          margin: 0 !important;
          @apply hidden;
        }
        
        &.show {
          h3::after {
            @include basic-icon('triangle-arrow-up.svg');
          }
        }
        h3 {
          position: relative;
          margin-bottom: 0 !important;
          @apply cursor-pointer;
          & + div {
            padding-top: 24px !important;
          }
          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            @include mask-icon('triangle-arrow-down.svg');
            background-color:$ntrls-1000;
            width: 16px;
            height: 16px;
          }
        }
        &.show {
          & > div {
            @apply block;
          }
          h3 {
            a:after {
              rotate: 180deg;
            }
          }
        }
      }
    }
  }

}

.topics--search-by {
  @apply flex flex-wrap items-center gap-2;

  h2 {
    @include body-1;
    margin: 0 8px 0 0;
    &:after {
      display: none;
    }
  }

  .view-grouping-content {
    @apply flex flex-wrap;
    gap: 16px;
    color: $primary;
    h3 {
      display: none;
    }
    > div {
      border: 1px solid $primary;
      border-radius: 16px;
      padding: 4px 16px;
      color: $primary;
      cursor: pointer;
      @apply whitespace-nowrap;

      &:hover {
        a {
          color: $white;
          text-decoration: none;
        }
        color: $white;
        background: $primary;
      }
    }
  }
}
