/**
 * @file
 * Quanthub Chat Overlay styles.
 */
.ai-dial-chat-overlay-container *, .ai-dial-chat-overlay-container ::before, .ai-dial-chat-overlay-container ::after {
  box-sizing: border-box;
}
.ai-dial-chat-overlay-container .ai-dial-chat-overlay {
  height: 700px;
}

.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 1px;
  min-height: 1px;
  min-width: 1px;
  max-height: 1px;
  max-width: 1px;
  transition:
    height .3s ease-in-out .1s,
    width .3s ease-in-out .1s,
    max-height .4s ease-in-out,
    max-width .4s ease-in-out,
    min-height .3s ease-in-out .1s,
    min-width .3s ease-in-out .1s,
    opacity .3s ease-in-out .1s;
  padding-top: 26px;
  color: #000;
  background: #eee;
  overflow: hidden;
  opacity: 0;
  z-index: 600;
}
.ai-dial-chat-overlay-open .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  height: 700px;
  width: 400px;
  min-height: 400px;
  min-width: 400px;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .ai-dial-chat-overlay-open .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
    min-height: 100%;
    min-width: 100%;
  }
  .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar .ai-dial-chat-overlay-resize-handle {
    display: none;
  }
}

.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen {
  overflow: hidden;
}
.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-resize-handle {
  display: none;
}
.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  height: 100% !important;
  width: 100% !important;
  opacity: 1;
  z-index: 999;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-trigger {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  padding: 20px 0;
  text-align: center;
  background: #fff;
  color: #000;
  line-height: 18px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
  z-index: 600;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px;
  gap: 5px;
  width: 100%;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar > div {
  height: 20px;
  width: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar .ai-dial-chat-overlay-resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 0;
  cursor: nwse-resize;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar .ai-dial-chat-overlay-resize-handle::before {
  content: '';
  position: absolute;
  display: block;
  border: 0 solid #000;
  border-width: 2px 0 0 2px;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
}
