/**
 * @file
 * Quanthub Chat Overlay styles.
 */
.ai-dial-chat-overlay-container .ai-dial-chat-overlay {
  height: 700px;
}

.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 1px;
  max-height: 1%;
  max-width: 1%;
  transition: height .3s, width .3s, max-height .3s, max-width .3s, opacity .3s;
  padding-top: 26px;
  color: #000;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  z-index: 60;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay iframe {
  display: none;
}
.ai-dial-chat-overlay-open .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  height: 700px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}
.ai-dial-chat-overlay-open .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay iframe {
  display: block;
}
.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen {
  overflow: hidden;
}
.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 999;
}
.ai-dial-chat-overlay-open.ai-dial-chat-overlay-fullscreen .ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay iframe {
  display: block;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-trigger {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  padding: 20px 0;
  text-align: center;
  background: #fff;
  color: #000;
  line-height: 18px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
  z-index: 50;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px;
  gap: 5px;
  width: 100%;
}
.ai-dial-chat-overlay-container.decorated .ai-dial-chat-overlay-toolbar > div {
  height: 20px;
  width: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}
